/*body {
}*/
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    box-sizing: border-box; /* Include padding and border in the total width and height */
    box-shadow: 0 0 8px #b1a6a6;
}

.card-body {
    padding: 40px;
}