<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>WheelyRev Template Example</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="Templates/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="Templates/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="Templates/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="Templates/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="Templates/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="Templates/css/owl.carousel.min.css">
    <link rel="stylesheet" href="Templates/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- banner bg main start -->
    <div class="banner_bg_main">
        <!-- header top section start -->
        <div class="container">
            <div class="header_section_top"> @*Na a sa responsive.css ang para wala if ipa gamay ang size*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li><a href="#">Best Sellers</a></li>
                                <li><a href="#">Shops</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top section start -->
        <!-- logo section start -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="#"><img src="~/Templates/images/WheelyRev-logo-White.png"></a></div>
                        @*<h1 class="logo" style="color:white">WheelyRev</h1>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- logo section end -->
        <!-- header section start -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="~/Home">Home</a>
                        @if (User.IsInRole("Store owner"))
                        {
                            <a href="~/MyShop/MyShop">My Shop</a>
                        }
                        @if (!User.IsInRole("Store owner"))
                        {
                            <a href="~/AddShop/AddShop">Add shop</a>
                        }
                        <a href="~/Home/Logout">Logout</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="Templates/images/toggle-icon.png"></span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> @*Make a category that connected to the database for dropdown*@
                            <a class="dropdown-item" href="#">Filter for category</a>
                            <a class="dropdown-item" href="#">Filter for category</a>
                            <a class="dropdown-item" href="#">Filter for category</a>
                        </div>
                    </div>
                    <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this blog">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header_box">

                        <div class="login_menu">
                            <ul>
                                <li>
                                    @if (User.IsInRole("Customer") || User.IsInRole("Store owner"))
                                    {
                                        <a href="~/Cart/Cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span class="padding_10">Cart</span>
                                        </a>
                                    }
                                </li>
                                <li>
                                    @*<i class="fa fa-user" aria-hidden="true"></i>*@
                                    <span class="padding_10" id="lblCountCart" style="background-color:red; border-radius: 50%; padding-right: 60%">Cart</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Get Start <br>Your favorite shoping</h1>
                                @*<div class="buynow_bt"><a href="#">Buy Now</a></div>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>


    @RenderBody()


    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Templates/images/WheelyRev-logo-White.png" alt="WheelyRev Logo">
                </a>
            </div>
            <div class="input_bt">
                <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
                <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
            <div class="footer_menu">
                <ul>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Shops</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html Templates</a></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="Templates/js/jquery.min.js"></script>
    <script src="Templates/js/popper.min.js"></script>
    <script src="Templates/js/bootstrap.bundle.min.js"></script>
    @*<script src="Templates/js/jquery-3.0.0.min.js"></script>
    <script src="Templates/js/plugin.js"></script>*@
    <!-- sidebar -->
    <script src="Templates/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="Templates/js/custom.js"></script>
    <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }

         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
    </script>


    <script type="text/javascript">
    $(document).ready(function () {
        loadCartCount();
    });

    function loadCartCount() {
        $.get("/Home/GetCartCount", function (data) {
            var count = data.count;
            var lblCountCart = document.getElementById("lblCountCart");

            if (count !== 0) {
                lblCountCart.innerHTML = count;
                lblCountCart.style.display = "inline-block"; // If dli zero
                loadCartCount();
            } else {
                lblCountCart.style.display = "none"; // If Zero
                loadCartCount(); // If wala pa syay gi order means 0 pero inagka order niya i update kay ang system na recognize sya nga 0 uya order
            }
        });
    }
    </script>

</body>
</html>